{% extends 'base.html.twig' %}

{% block title %}Morgan & Stephenson!{% endblock %}

{% block body %}
    <div class="bg-img-top">
        <img src="{{ asset('images/interview.jpg') }}">
    </div>

{% endblock %}
